mode: "debug"
#addr: "tcp://0.0.0.0:5110" # tcp监听地址
httpAddr: "0.0.0.0:5001"
wsAddr: "ws://0.0.0.0:5200"
rootDir: "/wukongimdata"
pprofOn: false
tokenAuthOn: false
stress: true
intranet:
  tcpAddr: "127.0.0.1:15100"
# whitelistOffOfPerson: false
logger:
  traceOn: false
  level: 1
  lineNum: true
#   loki:
#     url: "http://127.0.0.1:3100"

webhook: # 两者配其一即可 webhook配置 用于接收消息通知事件，详情请查看文档
  httpAddr: "http://xiaoniu-api:8000/api/wk_webhook" # webhook的http地址 通过此地址通知数据给第三方 地址为你提供的api接口地址
  grpcAddr: "" #  webhook的grpc地址 当前httpAddr成为瓶颈的时候可以用grpc进行推送， 如果此地址有值 则不会再调用httpAddr配置的地址,格式为 ip:port，通讯协议请查看文档
  msgNotifyEventPushInterval: 500ms # 消息通知事件推送间隔，默认500毫秒发起一次推送
  msgNotifyEventRetryMaxCount: 5 # 消息通知事件消息推送失败最大重试次数 默认为5次，超过将丢弃
  msgNotifyEventCountPerPush: 100 # 每次webhook消息通知事件推送消息数量限制 默认一次请求最多推送100条
  focusEvents: # 关注的事件类型, 如果没有配置则推送所有事件类型
    - "msg.offline"
    - "msg.notify"
    - "user.onlinestatus"

trace:
  prometheusApiUrl: "http://127.0.0.1:9090" # prometheus api地址
manager:
  on: true
  addr: "0.0.0.0:5300"
demo:
  on: false
  addr: "0.0.0.0:5172"
conversation:
  on: true
# reactor:
#   channel:
#     subCount: 1
#   user:
#     subCount: 1
cluster:
  nodeId: 1
  addr: "tcp://127.0.0.1:10001"
  slotCount: 32
  slotReplicaCount: 3
  channelReplicaCount: 3
  # channelReactorSubCount: 1
  apiUrl: "http://127.0.0.1:5001"
  initNodes:
#    - "1@127.0.0.1:10001"
#    - "2@127.0.0.1:10002"
    - "1@127.0.0.1:10001"

  # 认证配置 用户名:密码:资源:权限 *表示通配符   资源格式也可以是[资源ID:权限]
  # 例如:  - "admin:pwd:[clusterchannel:rw]" 表示admin用户密码为pwd对clusterchannel资源有读写权限,
  # - "admin:pwd:*" 表示admin用户密码为pwd对所有资源有读写权限
auth:
  kind: 'none' # 认证方式 jwt: jwt认证 none: 无需认证
  users:
    - "admin:pwd:*"
    - "guest:guest:[*:r]" # guest用户密码为guest对所有资源有读权限
jwt:
  secret: "wk_sec"
  expire: 30d
#plugin:
#  socketPath: "./wukongimdata/1/wukongim.sock" # 插件unix socket通讯地址
